
<h1>Log in here</h1>

<%= flash[:error]%>

<%= form_for @user, url: '/login' do |f| %>

<h2><%= f.label :username %><%= f.text_field :username %></h2>

<h2><%= f.label :password %><%= f.password_field :password %></h2>

<%= f.submit "log in" %>


<% end %>
