<div id="flexcontainer">
<div class="flexbox">
<h1>You hungry?</h1>

<% @reviews.each do |r| %>
    <h2><%= r.restaurant.name %> | <%= r.title %> | <%= link_to "Read", review_path(r), style: 'color:white;'  %><br></h2>
    <br>
<% end %>

<br>
<br>

<h3><%= link_to "Write review", new_review_path, style: 'color:white;' %>

<br>
<br>

<%= link_to "Look at all Restaurants", restaurants_path, style: 'color:white;' %></h3>
</div>
</div>