<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
    </h2>
 
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div id="flexcontainer">
<div class="flexbox">
<h1>Tell us about your favorite resto!!</h1>
<h2>Please keep it short and sweet!</h2>

<%= form_for(@review) do |r| %>
    
    <br>
    
    <h3><%= r.label :restaurant_id, "Select Restaurant" %>
    <%= r.collection_select :restaurant_id, Restaurant.all, :id, :name, {:include_blank => 'Please Select'} %>

    <br>
    <br>

    <%= r.label :title %><br>
    <%= r.text_field :title %>

    <br>
    <br>

    <%= r.label :restaurant_review %><br>
    <%= r.text_area :restaurant_review %>

    <br>
    <br>

    <%= r.submit %></h3>
<% end %>


 
 <br>

 <h3><%= link_to "Return to Reviews Page", reviews_path, style: 'color:white;' %></h3>
 </div>
 </div>