<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
    </h2>
 
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1>Tell us about your favorite resto!!</h1>
<h2>Please keep it short and sweet!</h2>

<%= form_for(@review) do |r| %>

    <%= r.label :user_id, "Select User" %>
    <%= r.collection_select :user_id, User.all, :id, :username %>

    <br>
    <br>
    
    <%= r.label :restaurant_id, "Select Restaurant" %>
    <%= r.collection_select :restaurant_id, Restaurant.all, :id, :name %>

    <br>
    <br>

    <%= r.label :title %><br>
    <%= r.text_field :title %>

    <br>
    <br>

    <%= r.label :restaurant_review %><br>
    <%= r.text_area :restaurant_review %>

    <br>
    <br>

    <%= r.submit %>
<% end %>


 
 <br>

 <%= link_to "Return to Reviews Page", reviews_path %>